* {
    display: flexbox;
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color:#666 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;


}

h1 {
    color: white;
    cursor: pointer;

}

h1:hover{
    text-decoration: underline;
}


.screen {
    cursor: pointer;
    width: 60%;
    background-color: #000000;
    border-top-left-radius: 10px;    
    border-top-right-radius: 10px;
}

.controls {
    background: #333333;
    color: #ffffff;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play{
    color: green;
}
.controls .fa-stop{
    color: red;
}
.controls .fa-timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.btn:focus {
    outline: 0;
}


@media (max-width:800px){
    .screen, .controls{
        width: 90%;
    }

}
